ul {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
}
header {
    background-color: chocolate;
}
button {
    padding:10px 20px;
    border:none;
    border-radius: 5px;
    color:#fff;
    background-color:#0071f0;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}